.ico-phone{
    height: 8em;
    width: 6em;
    margin-right: auto;
    margin-left: auto;
}
.PanelPrincipal{
    margin-top:45px;
}
ion-content{
    top:60px; 
    --offset-bottom:-60px !important;
}